body {
    margin: 0px;
}

.videoSect {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(220.55deg, #0e2c5e 0%, #000000 100%);
    position: relative;

}

#vidBrunno {
    width: 854px;
    height: 480px;
    border-radius: 0.7rem;
    transition: .8s;
    position: absolute;
    
}

#vidBrunno:hover {
    box-shadow: 0px 0px 85px 20px #3c8aff;
}

.controle{
    background-color: red;
    width: 854px;
    height: 480px;
    /* position: absolute; */
}